* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: white;
  top: 0;
  z-index: 2;
}
header section .div--img-smallheader {
  display: flex;
  justify-content: center;
}
header section .navbar {
  position: sticky;
}
header section ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
header section ul li {
  list-style-type: none;
}
header section ul li a {
  text-decoration: none;
  color: black;
}
header section img {
  display: flex;
}

.header__section--reservar {
  display: grid;
  margin: 0 0 10px 0;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "imagen imagen imagen imagen" "inicio ofertas unidades servicios";
}

.html-reservar__section--reservar {
  display: none;
}

/*Grid Areas Header*/
.img-header {
  grid-area: imagen;
}

.section__li--inicio {
  grid-area: inicio;
}

.section__li--ofertas {
  grid-area: ofertas;
}

.section__li--unidades {
  grid-area: unidades;
}

.section__li--servicios {
  grid-area: servicios;
}

.section__li--reservar {
  grid-area: reservar;
}

/* Medias Queries Header */
@media (min-width: 768px) {
  header {
    position: sticky;
  }
  header .navbar {
    display: none;
  }
  header .img-smallheader {
    display: none;
  }
  header .header__navigation--portatil {
    display: grid;
    margin-bottom: 5px;
    justify-items: center;
    align-items: center;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "inicio ofertas imagen unidades servicios";
  }
  .section__li--reservar {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__navigation--portatil {
    display: none;
  }
}
/* Formulario Header. */
.header-form {
  display: none;
}

/* Medias Queries Formulario */
@media (min-width: 768px) {
  .header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    margin: 10px 0 10px 0;
  }
  .header-form div {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: thin;
    width: 25%;
    align-items: center;
  }
  .header-form label {
    display: flex;
    align-items: flex-start;
  }
  .header-form input {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    width: 100%;
    height: 70%;
  }
  .header-form #check-out {
    border-left: 0;
    border-right: 0;
  }
  .header-form #peoples {
    border-right: 0;
  }
  .header-form #boton-consultar {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    font-size: 130%;
    margin: 0;
    padding: 0;
  }
  .header-form #boton-consultar:hover {
    font-weight: 600;
  }
}
/* Main Index */
.indexmain {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1em;
}
.indexmain .indexmain__section--information {
  display: grid;
  position: relative;
}
.indexmain .indexmain__section--information img {
  width: 100%;
}
.indexmain .indexmain__section--information div {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  align-self: flex-end;
  margin-bottom: 2em;
  font-size: 70%;
}
.indexmain .indexmain__section--information div p {
  margin-bottom: 0;
}
.indexmain .indexmain__section--information div a {
  text-decoration: none;
  color: white;
}
.indexmain .indexmain__section--description {
  margin: 0 1em 2em 1em;
}
.indexmain .indexmain__section--description article {
  text-align: justify;
}
.indexmain .indexmain__section--description h2 {
  text-align: left;
  margin-bottom: 1em;
}

/* Medias Queries Index Main */
@media (min-width: 768px) {
  .indexmain__div--information {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    align-self: flex-end;
    margin-bottom: 3em;
    margin-left: 3em;
  }
}
/* Ofertas Main */
.ofertasmain {
  display: grid;
}
.ofertasmain .ofertasmain__a--2x1 {
  text-decoration: none;
  color: black;
  margin: 1em;
  border-style: solid;
  border-width: thin;
}
.ofertasmain .ofertasmain__a--30off {
  text-decoration: none;
  color: black;
  margin: 1em;
  border-style: solid;
  border-width: thin;
}
.ofertasmain a div {
  padding: 5% 5% 2% 5%;
}
.ofertasmain a div img {
  width: 100%;
}
.ofertasmain a div span {
  font-size: 100%;
  font-weight: 600;
}
.ofertasmain a div p {
  font-size: 70%;
  margin: 0;
}

/* Grid Areas Ofertas Main */
.ofertasmain__a--2x1 {
  grid-area: 2x1;
}

.ofertasmain__a--30off {
  grid-area: 30off;
}

/* Medias Queries Ofertas Main */
@media (min-width: 768px) {
  .ofertasmain {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "2x1 30off";
  }
  .ofertasmain a {
    text-decoration: none;
    color: black;
    margin: 1em;
    border-style: solid;
    border-width: thin;
  }
  .ofertasmain a .div--2x1 {
    padding: 5% 5% 2% 5%;
  }
  .ofertasmain a .div--2x1 div span {
    font-size: 100%;
    font-weight: 600;
  }
  .ofertasmain a .div--2x1 div p {
    font-size: 70%;
    margin: 0;
  }
}
/* Reservar Main */
.reservarmain {
  display: grid;
  margin: 1%;
}
.reservarmain .reservarmain__contact-information .reservarmain__p--title {
  font-size: 150%;
  font-weight: 600;
  padding: 1% 0 1% 0;
}
.reservarmain .reservarmain__contact-information .reservarmain__p--description {
  text-align: justify;
  padding: 1% 0 1% 0;
}
.reservarmain .reservarmain__contact-information section ul {
  margin-left: 2%;
}
.reservarmain .reservarmain__contact-information section ul li {
  display: flex;
  flex-direction: column;
  padding: 2% 0;
}
.reservarmain .reservarmain__contact-information section ul li a {
  text-decoration: none;
  color: black;
}
.reservarmain .reservarmain__section--form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.reservarmain .reservarmain__section--form form {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
.reservarmain .reservarmain__section--form form div {
  padding: 3px;
}
.reservarmain .reservarmain__section--form form div label {
  padding: 1% 0 1% 0;
  display: flex;
  flex-direction: column;
}
.reservarmain .reservarmain__section--form form div .reservarmain__form--checkboxs {
  padding: 3px;
}

/* Medias Queries Reservar Main */
@media (min-width: 768px) {
  .reservarmain__form {
    width: 50vw;
  }
}
/* Servicios Main */
.serviciosmain {
  display: grid;
}
.serviciosmain section ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.serviciosmain section ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 15px 0;
}
.serviciosmain section ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviciosmain section ul li div p {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  text-align: justify;
}

/* Medias Queries Servicios Main */
@media (min-width: 768px) {
  .serviciosmain {
    display: flex;
    flex-direction: column;
  }
  .serviciosmain section {
    display: flex;
    flex-direction: column;
  }
  .serviciosmain section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .serviciosmain section ul li div {
    height: 100%;
  }
}
/* Grid Areas Servicios Main*/
.sala-juegos-infantiles {
  grid-area: sala-juegos;
}

.sala-trabajo {
  grid-area: sala-trabajo;
}

.sala-lectura {
  grid-area: sala-lectura;
}

.juegos-exterior {
  grid-area: juegos-exterior;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  font-size: 80%;
}
.footer-container .footer__div--bloque1 {
  display: flex;
  flex-direction: column;
}
.footer-container .footer__div--bloque1 .footer__bloque1--title {
  font-size: 150%;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}
.footer-container .footer__div--bloque1 ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0%;
}
.footer-container .footer__div--bloque1 ul li {
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.footer-container .footer__div--bloque1 ul li p {
  margin-bottom: 0;
}
.footer-container .footer__div--bloque1 ul li a {
  text-decoration: none;
  color: black;
}

/* Footer Grid Areas */
.footer__div--bloque1 {
  grid-area: bloque1;
}

.footer__div--bloque2 {
  grid-area: bloque2;
}

.footer__div--bloque3 {
  grid-area: bloque3;
}

/* Footer Medias Queries */
@media (min-width: 768px) {
  .footer-container {
    display: grid;
  }
  .footer-container .footer__div--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "bloque1 bloque2 bloque3";
    column-gap: 5px;
    align-items: center;
    justify-items: center;
  }
  .footer-container .footer__div--container div {
    margin: 0;
    padding: 0;
  }
  .footer-container .footer__div--container div li {
    align-items: left;
  }
  .footer-container .footer__div--container #maps {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .footer-container li {
    align-items: center;
  }
  .footer-container img {
    display: none;
  }
  .footer-container #maps {
    display: none;
  }
  .footer-container .footer__li--direction {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
